<div class="sidebar-nav">
  <nav class="navbar navbar-dark bg-primary fixed-top">
      <div class="container">
          <!-- Mobile Menu Toggle Button -->
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
              <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Menus List -->
          <div class="offcanvas offcanvas-start shadow" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-body">
                  <ul class="navbar-nav">
                      <li><a href="/home"><i class="bi bi-house-fill"></i> <span class="item-text">Home</span></a></li>
                      <li><a href="/bancos"><i class="bi bi-card-list"></i> <span class="item-text">Bancos</span></a></li>
                  </ul>
            </div>
          </div>
          <div class="d-flex align-items-center">
            <span class="textnone d-inline-block me-2">{{userName}}</span>
            <button type="button" class="btn btn-danger" (click)="logout()">sair</button>
          </div>
      </div>
  </nav>
</div>
